<!DOCTYPE html>
<html>
<head>
  <title>Mijn app</title>
  <link rel="stylesheet" href="./templates/css/names.css">
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
